.test{
  background-color: #B41782; 
  color : white;
}

.test:hover {
	background-color: #8E0D56;
}

.navbar-inverse {
	background-color: #8E0D56;
	color: white;
	border-color : grey;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

p {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1,h2,h3 {
	color : #8E0D56;
}

.affix {
      top: 0;
      width: 100%;
}

.affix + .container-fluid {
     padding-top: 70px;
}

pre {border: 0; background-color: transparent;}
