
  

 <link rel="stylesheet" href="styles/style.css">
    <div class = "container">
        <div class="wrapper">
            <form name="Login_Form" class="form-signin">       
                <h2 class="form-signin-heading">Sign In To RBK</h2>
                <img src="images/cohort6.jpg"  id="img"><br>
                <div class="col-sm-2"></div>
                <div class="col-md-12">
                    <i class="fa fa-user"></i> <strong id="strong"> Username: </strong>
                    <input type="text" class="form-control" name="Username" placeholder="username" ng-model="user.userName"/><br>
                    <i class="fa fa-pencil" aria-hidden="true"></i><strong id="strong"> Password: </strong>
                    <input type="password" class="form-control" name="Password" placeholder="Password" ng-model="user.password"/>            
                        <button class="btn btn-lg btn-basic btn-block" name="Submit" value="Login" type="Submit" ng-click="signin()"> Login  
                        <span class="glyphicon glyphicon-log-in"></span></a></button>
                        </div>
                    </form>           
                </div>
            </div>
 